---
import Layout from '@/components/layouts/base.astro';
import { DashboardLayout } from '@/components/layouts/dashboard-layout';
import { CreateStackForm } from '@/components/organisms/form/create/stack';
import { DASHBOARD_BREADCRUMB_TEMPLATE } from '@/constants/breadcrumb';
---

<Layout title='Crear stack'>
  <DashboardLayout
    client:load
    breadcrumb={DASHBOARD_BREADCRUMB_TEMPLATE['/vault/views/stack/create']}
  >
    <main class='container mx-auto flex size-full flex-col gap-5 pl-7 pt-7'>
      <h1 class='text-4xl font-medium'>Crear Stack</h1>
      <CreateStackForm client:load />
    </main>
  </DashboardLayout>
</Layout>
