---
import Layout from '../../../../../components/layouts/base.astro'
import { DashboardLayout } from '../../../../../components/layouts/dashboard-layout'
import { DASHBOARD_BREADCRUMB_TEMPLATE } from '../../../../../constants/breadcrumb'
---

<Layout title="Panel de Control">
  <DashboardLayout
    breadcrumb={DASHBOARD_BREADCRUMB_TEMPLATE['/vault/views/stack/create']}
    client:load
  >
    <main class="w-full h-full flex flex-col pt-7 pl-7 container mx-auto">
      <!-- <h1 class="text-4xl font-medium"></h1> -->
    </main>
  </DashboardLayout>
</Layout>
