---
import { ArrowRight } from 'lucide-react'
import Layout from '../../components/layouts/base.astro'
import Logo from '../../assets/svg/logos/Logo.astro'
---

<Layout
  body={{
    class: 'bg-background dark:bg-background-dark'
  }}
  title="Stack"
>
  <main class="w-full h-full space-y-10 container">
    <nav class="h-max pt-2 flex justify-between items-center">
      <Logo class="w-28 aspect-square" />
      <a
        href="/blog"
        class="flex px-3 py-2 rounded-lg items-center gap-1 shadow-sm text-primary group relative m-1 cursor-pointer overflow-hidden border-2 border-primary font-semibold"
      >
        <span class="ease absolute top-1/2 h-0 w-80 origin-center -translate-x-20 rotate-45 bg-primary transition-all duration-300 group-hover:h-64 group-hover:-translate-y-32"/>
        <span class="ease relative text-primary transition duration-300 group-hover:text-white flex gap-2">
          ¿Conoces mi blog?
          <ArrowRight />
        </span>
      </a>
    </nav>
  </main>
</Layout>
