---
import Layout from '@/components/layouts/base.astro';
import { DashboardLayout } from '@/components/layouts/dashboard-layout';
import { CollaboratorTable } from '@/components/organisms/table/collaborators';
import { DASHBOARD_BREADCRUMB_TEMPLATE } from '@/constants/dashboard-breadcrumb';
import { getAllCollaborator } from '@/services/collaborator/getAllCollaborator';

const collaborators = await getAllCollaborator();
---

<Layout title='Colaboradores'>
  <DashboardLayout
    client:load
    breadcrumb={DASHBOARD_BREADCRUMB_TEMPLATE['/vault/views/collaborators']}
  >
    <main class='container mx-auto flex size-full flex-col pl-7 pt-7'>
      <h1 class='text-4xl font-medium'>Colaboradores</h1>
      <CollaboratorTable client:load data={collaborators} />
    </main>
  </DashboardLayout>
</Layout>
