---
import Layout from '@/components/template/base.astro';
import { DashboardLayout } from '@/components/template/dashboard-layout';
import { StackTable } from '@/components/organisms/table/stack';
import { DASHBOARD_BREADCRUMB_TEMPLATE } from '@/constants/dashboard-breadcrumb';
import { getAllStack } from '@/services/stack/getAllStack';

const stacks = await getAllStack();
---

<Layout title='Stack'>
  <DashboardLayout client:load breadcrumb={DASHBOARD_BREADCRUMB_TEMPLATE['/vault/views/stack']}>
    <main class='container mx-auto flex size-full flex-col pl-7 pt-7'>
      <h1 class='text-4xl font-medium'>Stack</h1>
      <StackTable client:load data={stacks} />
    </main>
  </DashboardLayout>
</Layout>
