---
import { ArrowRight } from 'lucide-react';

import Layout from '@/components/template/base.astro';
import { DashboardLayout } from '@/components/template/dashboard-layout';
import { DASHBOARD_BREADCRUMB_TEMPLATE } from '@/constants/dashboard-breadcrumb';
---

<Layout title='Panel de Control'>
  <DashboardLayout client:load breadcrumb={DASHBOARD_BREADCRUMB_TEMPLATE['/vault']}>
    <main class='flex size-full flex-col items-center pt-20'>
      <h1 class='text-center text-4xl font-medium'>¡Bienvenido al Panel de Control!</h1>
      <p class='max-w-3xl text-center'>
        El panel de control es una herramienta interna y oculta que permite gestionar el contenido
        del portafolio. Desde aquí se pueden agregar y editar proyectos, así como actualizar el
        stack tecnológico presentado, asegurando que el portafolio refleje siempre información
        precisa y actualizada.
      </p>
      <b class='mt-10 text-2xl'>¡Aviso!</b>
      <p class='max-w-2xl text-center'>
        Esta aplicación utiliza archivos estáticos para generar el contenido visible en el
        portafolio. Por este motivo, los cambios realizados a través del panel de control no se
        reflejarán de manera inmediata en la versión pública. Estos ajustes solo tendrán efecto en
        el entorno local.
      </p>
      <a
        class='group border-primary text-primary relative m-1 mt-40 flex cursor-pointer items-center gap-1 overflow-hidden rounded-lg border-2 px-3 py-2 font-semibold shadow-xs'
        href='/'
      >
        <span
          class='ease bg-primary absolute top-1/2 h-0 w-80 origin-center -translate-x-20 rotate-45 transition-all duration-300 group-hover:h-64 group-hover:-translate-y-32'
        ></span>
        <span
          class='ease text-primary relative flex items-center gap-2 transition duration-300 group-hover:text-white max-sm:text-center max-sm:text-xs'
        >
          Volver al portafolio
          <ArrowRight />
        </span>
      </a>
    </main>
  </DashboardLayout>
</Layout>
