form {
  font-size: 3rem;
  > p span {
    display: inline-block;
    min-width: 0.5ch;
    color: var(--primary);
    outline: none;
    word-break: break-all;
    text-wrap: pretty;
    cursor: text;
    padding: 0 0.5ch;
    &:empty::before {
      content: attr(data-placeholder);
      color: #a1a1aa;
    }
    &:focus::before {
      content: "";
    }
  }
  > button {
    display: block;
    background-color: var(--black) !important;
    border-radius: 0.2rem;
    color: var(--white);
    padding: 0.8rem 2.5rem;
    margin: 4rem auto;
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
    transition: font-size 0.2s;
    user-select: none;
    &:active {
      font-size: 1.5rem;
    }
  }
}
