.dropdown {
    position: relative;
    display: inline-block;
    user-select: none;
}

.dropbtn{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    padding-left: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
}

.dropdown-content a {
    text-decoration: none;
    padding: .2rem 0 0 1rem;
    display: flex;
    align-items: center;
}


.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}