.dropdown {
  position: relative;
  display: inline-block;
  user-select: none;
}

.dropbtn {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding-left: 1rem;
  font-weight: 400;
}

.dropdown_content {
  display: none;
  position: absolute;
  min-width: 100%;
}

.dropdown_content a {
  text-decoration: none;
  padding: 0.2rem 0 0 1rem;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.dropdown:hover .dropdown_content {
  display: flex;
  flex-direction: column;
}
