---
import Wave from "../../svg/Wave.astro";
---

<header id="header">
  <article>
    <p>Hola 👋, Soy</p>
    <h1>Jorge Peñaranda</h1>
    <h2>Desarrollador Web</h2>
  </article>
  <div id="waves">
    <Wave />
  </div>
</header>
<style>
  header {
    width: 100%;
    min-height: calc(100vh - var(--nav-height));
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    font-family: sans-serif;
  }

  article {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: calc(var(--nav-height) + 5rem);
    gap: 0.9rem;
  }

  article p {
    font-size: 1.45rem;
  }

  article h1 {
    font-weight: 800;
    font-size: 6.25rem;
    word-wrap: break-word;
    width: 35rem;
    line-height: 1;
    animation: rgb-color 5s infinite alternate;
  }

  article h2 {
    font-size: 1.45rem;
    font-weight: 700;
  }

  #waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    color: var(--primary-dark);
    transform: translateY(10%);
  }

  @keyframes rgb-color {
    0% {
      color: var(--rgb-color-1);
    }
    25% {
      color: var(--rgb-color-2);
    }
    50% {
      color: var(--rgb-color-3);
    }
    75% {
      color: var(--rgb-color-4);
    }
    100% {
      color: var(--rgb-color-5);
    }
  }

  /* Screen "MD" */
  @media (min-width: 768px) {
    header {
      padding: 0 var(--x-padding);
    }
  }
</style>
