---
import Rocket from "../../svg/RGBRocket.astro";
import ArrowBottom from "../../svg/ArrowBottom.astro";
---

<header id="header">
  <article>
    <h1>Desarrollador Web</h1>
    <h2>Jorge Peñaranda</h2>
    <p>
      ¡Hola 👋, soy Jorge Peñaranda! Un desarrollador web apasionado por crear
      soluciones digitales que no solo funcionen, ¡sino que se sientan geniales!
      Siempre estoy buscando maneras de mejorar y aprender nuevas habilidades
      para mantenerme actualizado en este siempre cambiante mundo tecnológico.
      Mi objetivo es proporcionar sitios web y aplicaciones que no solo cumplan
      con tus necesidades, sino que también te sorprendan gratamente. 🚀
    </p>
  </article>
  <figure>
    <Rocket className_DynamicBG="specialSVG" />
    <figcaption>Nave espacial en el espacio</figcaption>
  </figure>
  <a href="#about" id="ArrowBottom" aria-label="Conocer Portafolio">
    <ArrowBottom />
  </a>
</header>
<style>
  header {
    width: 100%;
    min-height: calc(100vh - var(--nav-height));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-bottom: 3rem;
  }

  article {
    width: 100%;
    text-align: center;
    padding-bottom: var(--nav-height);
  }

  article h1,
  article h2 {
    user-select: none;
  }

  article h1 {
    flex: 1;
    filter: brightness(0.75);
    font-weight: 600;
    font-size: 2rem;
    animation: RGBText 10s infinite alternate;
  }

  article h2 {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.3;
  }

  article p {
    max-width: 100%;
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  @keyframes RGBText {
    0% {
      color: var(--rgb-color-1);
    }
    25% {
      color: var(--rgb-color-2);
    }
    50% {
      color: var(--rgb-color-3);
    }
    75% {
      color: var(--rgb-color-4);
    }
    100% {
      color: var(--rgb-color-5);
    }
  }

  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--nav-height);
    width: 100%;
    min-width: 20rem;
    animation: float 10s infinite alternate;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  a#ArrowBottom {
    position: absolute;
    width: 3rem;
    bottom: 2rem;
    animation: ArrowBottom 3s infinite alternate;
    animation-delay: 2s;
  }

  @keyframes ArrowBottom {
    0% {
      transform: translateY(1rem);
    }
    15% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(1rem);
    }
    45% {
      transform: translateY(0);
    }
  }

  /* Screen "MD" */
  @media (min-width: 768px) {
    header {
      padding: 0 var(--x-padding);
    }
    figure {
      flex: 1;
    }
    article {
      flex: 2;
      display: grid;
      align-items: center;
      text-align: start;
    }
    article p {
      max-width: 90%;
    }
  }
</style>
