.formStyle {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin-top: 0.7rem;
}

.formStyle input,
.formStyle textarea {
  background-color: transparent;
  font-size: 1.2rem;
  color: var(--gray-color);
  padding: 0.76rem;
  outline: none;
  border-bottom: 0.08rem solid;
}

.formStyle input {
  width: calc(50% - 0.35rem); /* Width - Gap */
}

.formStyle textarea {
  width: 100%;
  resize: vertical;
}

.formStyle button {
  width: 100%;
  margin-top: 1.21rem;
  padding: 0.7rem 0 0.7rem;
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.18rem;
  font-weight: 600;
}
.formStyle button:hover {
  filter: brightness(0.8);
}

.buttonError {
  color: white !important;
  background-color: red !important;
  animation: fill 750ms ease-in forwards;
}

.buttonSuccess {
  color: white !important;
  background-color: green !important;
  animation: fill 750ms ease-in forwards;
}

@keyframes fill {
  0% {
    clip-path: circle(5% at 50% 50%);
  }
  100% {
    clip-path: circle(100% at 50% 50%);
  }
}
