---
interface Props{
    textAlign?: 'left' | 'center' | 'right';
}
const {textAlign = "left"} = Astro.props;
---

<p style={`text-align:${textAlign}`}>
    <slot/>
</p>
<style>
    p {
        font-size: 1.4rem;
    }
</style>