---
import Layout from '../../../../../../components/layouts/base.astro'
import { DashboardLayout } from '../../../../../../components/layouts/dashboard-layout'
import { UpdateCollaboratorForm } from '../../../../../../components/organisms/form/update-collaborator'
import { DASHBOARD_BREADCRUMB_TEMPLATE } from '../../../../../../constants/breadcrumb'
import { ENV } from '../../../../../../constants/env'
import { getAllCollaboratorWithProjectsMin } from '../../../../../../services/collaborator/getAllCollaboratorWithProjectsMin'
import { getAvailableProjectsToAddRelationshipToCollaborators } from '../../../../../../services/project/getAvailableProjectsToAddRelationshipToCollaborators'
import { getCollaboratorWithProjectsMinById } from '../../../../../../services/collaborator/getCollaboratorWithProjectsMinById'

export async function getStaticPaths() {
  const collaborators = await getAllCollaboratorWithProjectsMin()

  const paths = collaborators.map(collaborator => ({
    params: { id: collaborator.id },
    props: collaborator
  }))

  return paths
}

let collaborator
if (ENV.isServerSideEnable) {
  collaborator = await getCollaboratorWithProjectsMinById({
    id: Number(Astro.params.id)
  })
} else {
  collaborator = Astro.props
}

if (!collaborator) {
  return {
    status: 404,
    error: new Error('Collaborator not found')
  }
}

const availableProjects =
  await getAvailableProjectsToAddRelationshipToCollaborators({
    idStack: collaborator.id
  })
---

<Layout title="Editar de Colaborador">
  <DashboardLayout
    breadcrumb={DASHBOARD_BREADCRUMB_TEMPLATE[
      '/vault/views/collaborators/edit'
    ]}
    client:load
  >
    <main class="w-full h-full flex flex-col pt-7 pl-7 container mx-auto gap-5">
      <h1 class="text-4xl font-medium">Editar Colaborador</h1>
      <UpdateCollaboratorForm
        currentCollaborator={collaborator}
        availableProjects={availableProjects}
        disableForm={ENV.isServerSideEnable === false}
        client:load
      />
    </main>
  </DashboardLayout>
</Layout>
