---
interface Props {
  id?: string;
  title: string;
  alignText?: "left" | "center" | "right";
  wrapDirection?: "normal" | "reverse";
}
const { id, title, alignText, wrapDirection } = Astro.props;
---

<section
  class="sm:col-start-auto"
  class:list={[
    {
      "flex-wrap-reverse": wrapDirection === "reverse",
      "flex-wrap": wrapDirection === "normal" || !wrapDirection,
    },
  ]}
>
  <slot name="after" />
  <article
    class:list={[
      {
        "lg:text-right lg:items-end": alignText === "left",
        "lg:text-center lg:items-center": alignText === "center",
        "lg:text-left lg:items-start": alignText === "right",
      },
    ]}
  >
    <h2 id={id}>
      {title}
    </h2>
    <slot />
  </article>
  <slot name="before" />
</section>
<style>
  section {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-bottom: 20rem;
  }
  article {
    flex: 1;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
  }
  h2 {
    font-size: 3rem;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
</style>
