---
import Logo from '@/assets/svg/logos/Logo.astro';
import Layout from '@/components/layouts/base.astro';
---

<Layout
  body={{
    class: 'bg-background dark:bg-background-dark',
  }}
  title='Blog'
>
  <main class='container size-full space-y-10'>
    <nav class='flex h-max items-center pt-2'>
      <Logo class='aspect-square w-28' />
    </nav>
  </main>
</Layout>
