---
import Article from "../../components/articles/ArticleWithImage.astro";
import Button from "../../components/buttons/Button.astro";
---

<Article id="contact" title="Contacto" alignText="center">
  <p>
    Si deseas contactarme o tienes alguna consulta, no dudes en enviarme un
    mensaje. Estoy aquí para ayudarte y escuchar tus ideas.
  </p>
  <form>
    <input
      type="text"
      name="name"
      placeholder="Nombre"
      autocomplete="name"
      required
    />
    <input
      type="email"
      name="email"
      placeholder="Correo"
      autocomplete="email"
      required
    />
    <textarea
      name="message"
      cols={30}
      rows={6}
      placeholder="Mensaje"
      autocomplete="off"
      required></textarea>
    <Button type="submit" width="full"> Enviar</Button>
  </form>
</Article>
<style>
  p {
    max-width: 50rem;
    margin: 0.5rem 0;
    letter-spacing: 0.1em;
    font-size: 1.125rem;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    margin-top: 0.7rem;
    > input, > textarea {
      background-color: transparent;
      font-size: 1.2rem;
      padding: 0.76rem;
      outline: none;
      border-bottom: 0.08rem solid currentColor;
    }
    > input {
      width: calc(50% - 0.35rem); /* Width - Gap */
    }
    > textarea {
      width: 100%;
      resize: vertical;
    }
    > button {
      &.buttonError {
        color: white !important;
        background-color: red !important;
        animation: fill 750ms ease-in forwards;
      }
      &.buttonSuccess {
        color: white !important;
        background-color: green !important;
        animation: fill 750ms ease-in forwards;
      }
    }
  }

  @keyframes fill {
    0% {
      clip-path: circle(5% at 50% 50%);
    }
    100% {
      clip-path: circle(100% at 50% 50%);
    }
  }
</style>
