---
    import Title from '../../components/text/Title.astro';
    import Text from '../../components/text/Text.astro';
---

<article>
    <Title textAlign='center'>¡Hola 👋, soy Jorge Peñaranda! </Title>
    <Text>Un desarrollador web apasionado por crear soluciones digitales que no solo funcionen, ¡sino que se sientan geniales! Siempre estoy buscando maneras de mejorar y aprender nuevas habilidades para mantenerme actualizado en este siempre cambiante mundo tecnológico. Mi objetivo es proporcionar sitios web y aplicaciones que no solo cumplan con tus necesidades, sino que también te sorprendan gratamente. 🚀</Text>
</article>
<style>
    article{
        display: grid;
        place-items: center;
        padding: 7rem 1rem 3rem;
    }
</style>