---
interface Props {
  url: string;
  target?: string;
  rel?: string;
  width?: "min" | "max" | "fit" | "full" | number;
}
const { url, target, rel, width } = Astro.props;
---
<a
  href={url}
  target={target}
  rel={rel}
  class:list={[
    Astro.props.width === "min" && "w-min",
    Astro.props.width === "max" && "w-max",
    Astro.props.width === "fit" && "w-fit",
    Astro.props.width === "full" && "w-full",
    typeof Astro.props.width === "number" && `w-${width}`,
  ]}
  ]}
>
  <slot />
</a>
<style>
  a {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    margin-top: 1.25rem;
    padding: 0.5rem 1.5rem;
    user-select: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.375rem;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
</style>
