<aside>
    <h3>Índice</h3>
    <slot/>
</aside>
<style>
    aside{
        height: 90vh;
        width: 70vw;
        position: fixed;
        top: 5vh;
        left: 0;
        background-color: var(--primary-dark);
        color: var(--primary-light);
        border-radius: 0 2rem 2rem 0;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
        padding: 3rem 1.5rem;
    }

    aside::before{
        content: ">";
        background-color: var(--primary-dark);
        position: absolute;
        right: -2rem;
        top: 50%;
        transform: translateY(-50%);
        height: 4.5rem;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 1.2rem 1.2rem 0;
        font-size: 2rem;
        cursor: pointer;
    }

    aside:hover{
        transform: translateX(0);
    }

    h3{
        font-size: 2.5rem;
        font-weight: 600;
        height: 5rem;
    }

    /* Screen "LG" */
    @media (min-width: 1024px) {
        aside{
            height: 80vh;
            width: 20vw;
            top: 10vh;
        }
    }
</style>