---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<aside>
  <h1>{title}</h1>
  <slot />
</aside>
<style>
  aside {
    height: 90vh;
    width: 70vw;
    position: fixed;
    top: 10vh;
    left: 0;
    background-color: var(--gray);
    color: var(--black);
    border-radius: 0 2rem 2rem 0;
    transform: translateX(-100%);
    z-index: 50;
    transition: transform 0.5s ease;
    padding: 3rem 1.5rem;
    &::before {
      content: ">";
      background-color: var(--gray);
      position: absolute;
      right: -2rem;
      top: 50%;
      transform: translateY(-50%);
      height: 4.5rem;
      width: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 1.2rem 1.2rem 0;
      font-size: 2rem;
      cursor: pointer;
    }
    &:hover {
      transform: translateX(0);
    }
    > h1 {
      font-size: 2.5rem;
      font-weight: 600;
      height: 5rem;
    }
  }

  /* Screen "LG" */
  @media (min-width: 1024px) {
    aside {
      height: 80vh;
      width: 20vw;
      top: 10vh;
    }
  }
</style>
