:root {
  --primary-dark: oklch(17.06% 0 360);
  --primary-light: oklch(100% 0 0);

  --white: oklch(100% 0 0);
  --black: oklch(0% 0 0);
  --gray: oklch(90.36% 0.009 278.28);

  --border-footer: rgb(94, 94, 94);

  --rgb-color-1: #f04dff;
  --rgb-color-2: #ff4d4d;
  --rgb-color-3: #ffc54d;
  --rgb-color-4: #6aed76;
  --rgb-color-5: #09f;

  --nav-height: 10rem;
  --x-padding: 10rem;
}

html {
  background: var(--primary-light);
  color-scheme: light;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
}

figure figcaption {
  text-align: center;
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

/* Darkmode */
html.dark {
  color-scheme: dark;
  background-color: var(--primary-dark);
}
