:root {
  --dominant: #f2f3f4;
  --primary: #bf5454;
  --details: #9efccc;

  --primary-lightest: #f9eeee;
  --primary-lighter: #e5bbbb;
  --primary-light: #d28787;
  --primary-primary: #bf5454;
  --primary-dark: #863b3b;
  --primary-darker: #602a2a;

  --white: oklch(100% 0 0);
  --black: oklch(0% 0 0);
  --gray: oklch(90.36% 0.009 278.28);

  --nav-height: 10rem;
  --x-padding: 15rem;
}

@font-face {
  font-family: 'Baloo';
  src: url('/fonts/Baloo.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZillaSlabHighlight';
  src: url('/fonts/ZillaSlabHighlight.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AlfaSlabOne';
  src: url('/fonts/AlfaSlabOne.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: Baloo, sans-serif;
  width: 100dvw;
  height: 100dvh;
}

/* DEFAULT SCROLLBAR STYLE */
::-webkit-scrollbar-thumb {
  background-color: oklch(74.63% 0 0 / 73.89%);
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  background: oklch(0% 0 0 / 0%);
}
