:root {
  --color-white: oklch(100% 0 0);
  --color-white-dark: oklch(17.06% 0 360);

  --color-black: oklch(17.06% 0 360);
  --color-black-dark: oklch(100% 0 0);

  --color-gray: oklch(55.44% 0.041 257.42);
  --color-gray-dark: oklch(35.59% 0.0291 257.42);

  --color-red: oklch(63.68% 0.208 25.33);
  --color-red-dark: oklch(75.59% 0.074 25.33);

  --color-yellow: oklch(79.52% 0.162 86.05);
  --color-yellow-dark: oklch(57.42% 0.1016 86.05);

  --color-green: oklch(63.53% 0.175 131.68);
  --color-green-dark: oklch(51.18% 0.141 131.59);

  --color-cyan: oklch(70.38% 0.123 182.5);
  --color-cyan-dark: oklch(49.42% 0.086 186.39);

  --color-blue: oklch(68.47% 0.148 237.32);
  --color-blue-dark: oklch(50.3% 0.1114 241.97);

  --color-pink: oklch(62.68% 0.233 303.9);
  --color-pink-dark: oklch(41.99% 0.163 301.92);
}
