---
interface Props {
  title: string;
  alignText?: "left" | "center" | "right";
}
const { title, alignText } = Astro.props;
---

<section class="w-full flex gap-36 items-center flex-wrap-reverse pt-20 pb-48">
  <slot name="after" />
  <article
    class:list={[
      "flex flex-1 flex-col items-center text-center w-[90%] sm:w-[45%]",
      {
        "md:text-right md:items-end": alignText === "left",
        "md:text-center md:items-center": alignText === "center",
        "md:text-left md:items-start": alignText === "right",
      },
    ]}
  >
    <h2 class="text-5xl select-none font-bold underline underline-offset-4">
      {title}
    </h2>
    <slot />
  </article>
  <slot name="before" />
</section>
<style></style>
