---
import Layout from '@/components/layouts/base.astro';
import { DashboardLayout } from '@/components/layouts/dashboard-layout';
import { DASHBOARD_BREADCRUMB_TEMPLATE } from '@/constants/breadcrumb';
---

<Layout title='Panel de Control'>
  <DashboardLayout
    client:load
    breadcrumb={DASHBOARD_BREADCRUMB_TEMPLATE['/vault/design/stack-flow']}
  >
    <main class='flex size-full flex-col pl-7 pt-7'>
      <h1 class='text-4xl font-medium'>Stack Flow</h1>
    </main>
  </DashboardLayout>
</Layout>
