---
import Layout from "../../layouts/index.astro";
import ContactForm from "../../sections/form/ContactForm/index";
import Title from "../../components/text/Title.astro";
---

<Layout
  title="Jorge Peñaranda | Contactar"
  description="Conéctate conmigo. Encuentra la manera de contactarme para discutir oportunidades y proyectos. Estoy listo para colaborar contigo en futuras iniciativas y responder a tus consultas."
>
  <main>
    <Title>Contactar</Title>
    <ContactForm SERVICE_ID={import.meta.env.EMAILJS_SERVICE_KEY} TEMPLATE_ID={import.meta.env.EMAILJS_TEMPLATE_KEY} PUBLIC_KEY={import.meta.env.EMAILJS_PUBLIC_KEY} client:load/>
  </main>
</Layout>
<style>
  main {
    min-height: 70vh;
    > h1{
      text-align: center;
    }
  }
  /* Screen "MD" */
  @media (min-width: 768px) {
    main {
      padding-inline: var(--x-padding);
    }
  }
</style>
