---
import Layout from "../../layouts/index.astro";
import ContactForm from "../../sections/form/ContactForm.tsx";
import Title from "../../components/text/Title.astro";
---

<Layout
  title="Jorge Peñaranda | Desarrollador Web"
  description="Apasionado desarrollador web con experiencia en la creación de herramientas de código abierto y soluciones web. Comprometido en aprender y crecer constantemente en este emocionante campo, y encantado de compartir mi conocimiento en el camino."
>
  <main>
    <Title>Contactar</Title>
    <ContactForm SERVICE_ID={import.meta.env.EMAILJS_SERVICE_KEY} TEMPLATE_ID={import.meta.env.EMAILJS_TEMPLATE_KEY} PUBLIC_KEY={import.meta.env.EMAILJS_PUBLIC_KEY} client:load/>
  </main>
</Layout>
<style>
  main {
    min-height: 70vh;
    > h1{
      text-align: center;
    }
  }
  /* Screen "MD" */
  @media (min-width: 768px) {
    main {
      padding-inline: var(--x-padding);
    }
  }
</style>
