---
import { cn } from '@/helpers/common/classnames'
import { SEO } from 'astro-seo'
import { ViewTransitions } from 'astro:transitions'
import { DEFAULT_LANG } from '../../constants/common'
import { NAVBAR_ITEMS } from '../../constants/navbar'
import { SEO_INFO } from '../../constants/seo'
import '../../styles/globals.css'
import ThemePreference from '../atoms/theme-preference.astro'
import { DesktopNavbar } from '../organisms/navbar/desktop'
import { MobileNavbar } from '../organisms/navbar/mobile'
import { Toaster } from '../ui/toaster'

interface Props {
  title?: string
  description?: string
  lang?: string
  body?: astroHTML.JSX.HTMLAttributes
  html?: astroHTML.JSX.HtmlHTMLAttributes
}

// Extract props passed to the Astro component
const { title, description, lang = DEFAULT_LANG, body, html } = Astro.props
---

<!doctype html>
<html lang={lang} {...html}>
  <head>
    <SEO
      {...SEO_INFO}
      title={title}
      description={description ?? SEO_INFO.description}
    />
    <ViewTransitions />
    <ThemePreference />
  </head>
  <body
    class={cn('w-screen min-h-screen antialiased font-Baloo', body?.class)}
    {...body}
  >
    <slot />
    <DesktopNavbar
      items={NAVBAR_ITEMS}
      client:idle
      transition:name="main-desktop-navbar"
    />
    <div class="h-16 flex md:hidden">
      <MobileNavbar
        items={NAVBAR_ITEMS}
        client:idle
        transition:name="main-mobile-navbar"
      />
    </div>
    <Toaster client:idle />
  </body>
</html>
