/* Taildwind Exports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base light colors */
:root {
  --home-primary-bg: #ffffff;
  --home-primary-text: #1a1a1a;
}

/* Base dark colors */
:root {
  --home-primary-bg-dark: #101010;
  --home-primary-text-dark: #e5e5e5;
}

/* Normalize */
html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

/* Transition all */
html * {
  transition: 300ms all ease;
}

/* Text Style */
h1 span {
  font-weight: 800;
}

/* ----------------- to fix ----------------- */
body {
  overflow-x: hidden;
}
