---
import Layout from '../../../../../components/layouts/base.astro'
import { DashboardLayout } from '../../../../../components/layouts/dashboard-layout'
import { CreateCollaboratorForm } from '../../../../../components/organisms/form/create-collaborator'
import { DASHBOARD_BREADCRUMB_TEMPLATE } from '../../../../../constants/breadcrumb'
import { ENV } from '../../../../../constants/env'
---

<Layout title="Panel de Control">
  <DashboardLayout
    breadcrumb={DASHBOARD_BREADCRUMB_TEMPLATE[
      '/vault/views/collaborators/create'
    ]}
    client:load
  >
    <main class="w-full h-full flex flex-col pt-7 pl-7 container mx-auto gap-5">
      <h1 class="text-4xl font-medium">Crear Colaborador</h1>
      <CreateCollaboratorForm disableForm={ENV.isProduction} client:load />
    </main>
  </DashboardLayout>
</Layout>
