---
import Layout from '@/components/layouts/base.astro';
import { DashboardLayout } from '@/components/layouts/dashboard-layout';
import { CreateCollaboratorForm } from '@/components/organisms/form/create/collaborator';
import { DASHBOARD_BREADCRUMB_TEMPLATE } from '@/constants/dashboard-breadcrumb';
---

<Layout title='Crear Colaborador'>
  <DashboardLayout
    client:load
    breadcrumb={DASHBOARD_BREADCRUMB_TEMPLATE['/vault/views/collaborators/create']}
  >
    <main class='container mx-auto flex size-full flex-col gap-5 pl-7 pt-7'>
      <h1 class='text-4xl font-medium'>Crear Colaborador</h1>
      <CreateCollaboratorForm client:load />
    </main>
  </DashboardLayout>
</Layout>
