---
import AsideDrawer from "../../components/aside/AsideDrawer.astro";
import ThemeSelector from "../../components/ReactComponents/ThemeSelector/ThemeSelector.tsx";
---

<AsideDrawer title="Índice">
  <ul>
    <li>
      <a href="#top">» Cabecera</a>
    </li>
    <li>
      <a href="#about">» Sobre mi</a>
    </li>
    <li>
      <a href="#stack">» Skills</a>
    </li>
    <li>
      <a href="#projects">» Proyectos</a>
    </li>
    <li>
      <a href="#contact">» Contactar</a>
    </li>
  </ul>
  <div id="ThemeSelector">
    <ThemeSelector client:visible/>
  </div>
</AsideDrawer>
<style>
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      width: 100%;
      font-size: 1.5rem;
      transition: background 0.2s ease-in-out;
      border-radius: 0.5rem;
      > a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0.75rem 1rem;
      }
      &:hover {
        background: #b6b6b636;
      }
    }
  }
  #ThemeSelector {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
</style>
