---
import Layout from '../../../../../components/layouts/base.astro'
import { DashboardLayout } from '../../../../../components/layouts/dashboard-layout'
import { ShowStackForm } from '../../../../../components/organisms/form/show-stack'
import { DASHBOARD_BREADCRUMB_TEMPLATE } from '../../../../../constants/breadcrumb'
import { ENV } from '../../../../../constants/env'
import { getAllStack } from '../../../../../services/stack/getAllStack'
import { getStackById } from '../../../../../services/stack/getStackById'

export async function getStaticPaths() {
  const stacks = await getAllStack()

  const paths = stacks.map(stack => ({
    params: { id: stack.id },
    props: stack
  }))

  return paths
}

let stack
if (ENV.isServerSideEnable) {
  stack = await getStackById({ id: Number(Astro.params.id) })
} else {
  stack = Astro.props
}

if (!stack) {
  return {
    status: 404,
    error: new Error('Stack not found')
  }
}
---

<Layout title="Detalle de stack">
  <DashboardLayout
    breadcrumb={DASHBOARD_BREADCRUMB_TEMPLATE['/vault/views/projects/details']}
    client:load
  >
    <main class="w-full h-full flex flex-col pt-7 pl-7 container mx-auto gap-5">
      <h1 class="text-4xl font-medium">Detalles de Stack</h1>
      <ShowStackForm currentStack={stack} client:load />
    </main>
  </DashboardLayout>
</Layout>
