---
import Layout from "../components/layouts/base.astro";
import NotFound from "../assets/svg/draws/NotFound.astro";
---

<Layout
  title="Not found"
  description="Página no encontrada"
>
  <figure>
    <a href="/">
      <NotFound />
    </a>
    <figcaption>Página no encontrada</figcaption>
  </figure>
</Layout>
<style>
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--nav-height));
    > a {
    height: 80%;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
    > figcaption {
      display: block;
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
</style>
