---
import { ChevronLeft } from 'lucide-react';

import { CatAsAService } from '@/components/atoms/cat';
import Layout from '@/components/layouts/base.astro';
---

<Layout description='Página no encontrada' title='Not found'>
  <main class='flex size-full flex-col items-center justify-between gap-10 px-52 py-24 lg:flex-row'>
    <section class='flex flex-1 flex-col justify-center gap-2 text-black dark:text-white'>
      <h1 class='text-6xl font-bold'>Página no encontrada</h1>
      <p class='text-3xl'>La página que buscas no existe.</p>
      <a
        aria-label='Go back to home'
        class='mt-64 flex w-max items-center transition-all hover:-ml-2'
        href='/'
      >
        <ChevronLeft className='size-9' />
        <p class='text-2xl font-semibold'>Volver</p>
      </a>
    </section>
    <section class='flex-1'>
      <h2 class='mb-2 text-center'>Pero aquí tienes un gato para que te sientas mejor</h2>
      <div class='h-96 w-auto'>
        <CatAsAService client:only='react' />
      </div>
    </section>
  </main>
</Layout>
