---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/headers/HeaderHome.astro";
import Aside from "../sections/asides/AsideIndex.astro";
import About from "../sections/articles/AboutHomeArticle.astro";
import Stacks from "../sections/cards/StackCard.astro";
import Projects from "../sections/articles/ProjectsArticle.astro";
import Contact from "../sections/articles/ContactHomeArticle.astro";
---

<Layout
  title="Jorge Peñaranda | Desarrollador Web"
  description="Un espacio para compartir conocimiento sobre desarrollo web, programación y diseño. Explora artículos informativos y perspectivas en constante actualización."
  theme="dark"
>
  <Header />
  <Aside />
  <main>
    <About />
    <Stacks />
    <Projects />
    <Contact />
  </main>
</Layout>
<style is:global>
  /* Screen "MD" */
  nav,
  header {
    background-color: var(--primary-light);
    color: var(--black);
  }
  @media (min-width: 768px) {
    main {
      padding: 0 var(--x-padding);
    }
  }
</style>
