---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar/navbar.astro";
import Header from "../components/header/homeHeader/header.astro";
---

<Layout title="Jorge Peñaranda">
  <Navbar />
  <Header />
  <aside>sadsadsa</aside>
  <main>
    <article>
      <figure></figure>
      <p></p>
    </article>
    <article>
      <figure></figure>
      <p></p>
    </article>
    <article>
      <figure></figure>
      <p></p>
    </article>
  </main>
  <footer></footer>
</Layout>
