---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar/Navbar.astro";
import Footer from "../components/footer/Footer.astro";
import Header from "../components/headers/home-header/Header.astro";
---

<Layout title="Jorge Peñaranda">
  <Navbar />
  <Header />
  <!-- <aside>sadsadsa</aside> -->
  <main>
    <article>
      <figure></figure>
      <p></p>
    </article>
    <article>
      <figure></figure>
      <p></p>
    </article>
    <article>
      <figure></figure>
      <p></p>
    </article>
  </main>
  <Footer />
</Layout>
