---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/headers/home-header/Header.astro";
import About from "../sections/articles/HomeAboutArticle.astro";
---

<Layout title="Jorge Peñaranda">
  <Header />
  <!-- <aside>sadsadsa</aside> -->
  <main>
    <About />
  </main>
</Layout>
