---
import type { AvailableLanguages } from '@/types/translation';

import Bird1 from '@/assets/svg/draws/Bird-1.astro';
import Bird2 from '@/assets/svg/draws/Bird-2.astro';
import Bird3 from '@/assets/svg/draws/Bird-3.astro';
import MountainLeft from '@/assets/svg/draws/MountainLeft.astro';
import MountainRight from '@/assets/svg/draws/MountainRight.astro';
import Sun from '@/assets/svg/draws/Sun.astro';
import Wave from '@/assets/svg/draws/wave-1.astro';
import Logo from '@/assets/svg/logos/Logo.astro';
import { TextWritter } from '@/components/atoms/text-writter';
import { SecretButton } from '@/components/molecules/secret-button';
import Layout from '@/components/template/base.astro';
import { useAstroTraslation } from '@/helpers/common/use-astro-traslation';

const { t } = useAstroTraslation(Astro.currentLocale);

const TITLE_WORD_LIST = [
  t('pages.home.word-list.results'),
  t('pages.home.word-list.solutions'),
  t('pages.home.word-list.innovations'),
  t('pages.home.word-list.creations'),
  t('pages.home.word-list.projects'),
  t('pages.home.word-list.achievements'),
  t('pages.home.word-list.applications'),
  t('pages.home.word-list.improvements'),
  t('pages.home.word-list.success'),
];
---

<Layout
  body={{
    class:
      'bg-linear-to-r from-rose-200 to-teal-200 dark:from-[rgba(136,19,55,0.8)] dark:dark:to-[rgba(4,120,87,0.8)] dark:to-gray-800 transition-colors ease-linear',
  }}
  lang={Astro.currentLocale as AvailableLanguages}
>
  <nav class='flex h-max items-center justify-between px-20 pt-2'>
    <Logo class='aspect-square w-28' />
    <SecretButton client:visible />
  </nav>
  <header class='my-14 mb-20 flex h-max flex-col items-center gap-1 text-center' id='header'>
    <h1 class='sr-only'>
      {t('pages.home.h1-title')}
    </h1>
    <h2 class='text-6xl font-medium'>
      {t('pages.home.h2-title')}
      {' '}
      <b class='text-primary'>
        <TextWritter client:load wordList={TITLE_WORD_LIST} />
      </b>
    </h2>
    <p class='max-w-2xl text-xl'>
      {t('pages.home.description')}
    </p>
    <a
      class='bg-primary mt-10 rounded-md px-5 py-2.5 text-2xl font-semibold text-white transition-transform hover:scale-105'
      href='/projects'
    >
      {t('pages.home.button.know-projects')}
    </a>
  </header>
  <section
    aria-label='Header Illustration'
    class='relative mx-auto flex w-9/12 cursor-zoom-in items-center justify-center rounded-2xl transition-transform hover:scale-105'
  >
    <figure class='bg-primary absolute bottom-0 -z-50 flex size-full items-end rounded-[inherit]'>
      <Wave aria-label='wave' class='w-full rounded-b-[inherit]' />
      <figcaption class='sr-only fixed'>Background Wave</figcaption>
    </figure>
    <article class='pointer-events-none z-40 w-2/3 py-20 text-center text-white select-none'>
      <h5
        class='font-AlfaSlabOne mb-20 text-5xl leading-normal! md:text-6xl lg:text-7xl xl:text-8xl'
      >
        Páginas unicas con diseños increibles
      </h5>
      <h4 class='font-ZillaSlabHighlight text-2xl md:text-3xl lg:text-4xl xl:text-5xl'>
        Jorge Peñaranda | Desarrollador web
      </h4>
    </article>
    <figure class='absolute bottom-0 z-30 size-full rounded-b-[inherit]'>
      <MountainLeft
        aria-label='Left mountain'
        class='absolute bottom-0 left-0 h-fit w-2/5 rounded-bl-[inherit]'
      />
      <MountainRight
        aria-label='Right mountain'
        class='absolute right-0 bottom-0 h-fit w-2/5 rounded-br-[inherit]'
      />
      <figcaption class='sr-only'>Mountains</figcaption>
    </figure>
    <figure class='z-20 hidden md:inline'>
      <Bird1 aria-label='Bird 1' class='absolute top-[23%] left-[21%]' />
      <Bird2 aria-label='Bird 2' class='absolute right-[45%] bottom-[17%]' />
      <Bird3 aria-label='Bird 3' class='absolute top-[20%] right-[35%]' />
      <figcaption class='sr-only'>Birds</figcaption>
    </figure>
    <figure class='z-10 hidden md:inline'>
      <Sun aria-label='sun' class='absolute top-[5%] right-[10%]' />
      <figcaption class='sr-only'>Sun</figcaption>
    </figure>
  </section>
  <!-- <section class="mt-20 mb-40 flex flex-col justify-center items-center">
    <h3 class="text-4xl text-center font-bold">¡Hablemos!</h3>
    <form
      class="grid grid-cols-2 grid-rows-[auto_1fr] gap-y-2 gap-x-5 w-3/6 mt-4"
      id="contact-form"
    >
      <label class="flex flex-col text-zinc-500 text-xs">
        Nombre:
        <input
          type="text"
          name="name"
          class="border-2 border-zinc-200 px-2 py-1"
          placeholder="Nombre..."
        />
      </label>
      <label class="flex flex-col text-zinc-500 text-xs">
        Correo:
        <input
          type="email"
          name="email"
          class="border-2 border-zinc-200 px-2 py-1"
          placeholder="example@email.com"
        />
      </label>
      <label class="flex flex-col col-span-2 text-zinc-500 text-xs">
        Mensaje:
        <textarea
          name="message"
          rows="5"
          class="border-2 border-zinc-200 resize-y p-2"
          placeholder="Hola, me gustaria hablar sobre..."></textarea>
      </label>
      <button
        type="submit"
        class="bg-black text-white col-span-2 py-1.5 rounded-sm text-sm mt-3 transition-colors hover:bg-primary cursor-pointer"
      >
        Enviar
      </button>
    </form>
  </section> -->
</Layout>
