<form>
    <p>
        ¡Hola, Jorge! Soy 
        <span data-placeholder="[Nombre]" id="name" contenteditable/>
        y mi correo es
        <span data-placeholder="[Correo]" id="email" contenteditable/>
        . Me gustaría que me contactaras para
        <span data-placeholder="[Mensaje]" id="message" contenteditable/>
    </p>
    <input type="hidden" name="name">
    <input type="hidden" name="email">
    <input type="hidden" name="message">
    <button>Enviar</button>
</form>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script>
    (function() {
        emailjs.init("5N89hdd9Q-Tpjh0fF");
    })();

    const form = document.querySelector('form');
    const spans = form?.querySelectorAll('span');
    const button = form?.querySelector('button');

    spans?.forEach(span => {
        span.addEventListener('input', () => {
            const input:HTMLInputElement | null | undefined  = form?.querySelector(`input[name="${span.id}"]`);

            if(!input) return;
            input.value = span.textContent || "";
        });
    });

    button?.addEventListener('click', () => {
        if(!spans) return;

        const data = {
            name: spans[0].textContent,
            email: spans[1].textContent,
            message: spans[2].textContent
        }

        
        emailjs.sendForm("service_v055els", "template_jlv215d", form)
            .then(function() {
                console.log('SUCCESS!');
            }, function(error) {
                console.log('FAILED...', error);
            });
    });
</script>
<style>
    form{
        font-size: 3rem;
        > p span{
            color: var(--primary);
            outline: none;
            word-break: break-all;
            text-wrap: pretty;
            &:empty::before {
               content: attr(data-placeholder);
               color: #a1a1aa;
            }
            &:focus::before{
                content: "";
            }
        }
        > button{
            display: block;
            background: var(--black);
            border-radius: .2rem;
            color: var(--white);
            padding: .8rem 2.5rem;
            margin: 4rem auto;
            font-size: 1.7rem;
            font-weight: 600;
            cursor: pointer;
            transition: font-size .2s;
            user-select: none;
            &:active{
                font-size: 1.5rem;
            }
        }
    }
</style>