/* Taildwind Exports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base light colors */
:root {
  --testPrimary: oklch(56.53% 0.118 252);
  --primary: #ffffff;
  --secondary: #1a1a1a;

  --gray-color: #a1a1aa;
}

/* Base dark colors */
:root {
  --primary-dark: #101010;
  --secondary-dark: #e5e5e5;
}

/* Normalize */
html,
body {
  min-height: 100%;
  min-width: 100%;
}

body *:not(#fixed, .testing-removeAppear, .testing-removeAppear *) {
  animation: appear 0.25s 0.2s both;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 100%;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
