---
import { ArrowRight } from 'lucide-react';

import { getAllStackWithRelationsAndProjectsMin } from '../../services/stack/getAllStackWithRelationsAndProjectsMin';

import Logo from '@/assets/svg/logos/Logo.astro';
import { SecretCodeHint } from '@/components/atoms/secret-code-hint';
import Layout from '@/components/template/base.astro';
import { StackFlow } from '@/components/organisms/react-flow/stack-flow';

const stacksWithProjectsMin = await getAllStackWithRelationsAndProjectsMin();
---

<Layout
  body={{
    class: 'bg-background dark:bg-background-dark',
  }}
  title='Stack'
>
  <main class='container h-[80vh] w-full space-y-10'>
    <nav class='flex h-max items-center justify-between pt-2'>
      <Logo class='aspect-square w-28' />
      <a
        class='group border-primary text-primary relative m-1 flex cursor-pointer items-center gap-1 overflow-hidden rounded-lg border-2 px-3 py-2 font-semibold shadow-sm'
        href='/about'
      >
        <span
          class='ease bg-primary absolute top-1/2 h-0 w-80 origin-center -translate-x-20 rotate-45 transition-all duration-300 group-hover:h-64 group-hover:-translate-y-32'
        ></span>
        <span
          class='ease text-primary relative flex items-center gap-2 transition duration-300 group-hover:text-white max-sm:text-center max-sm:text-xs'
        >
          ¡Haz clic para conocerme!
          <ArrowRight />
        </span>
      </a>
    </nav>
    <section class='flex flex-col items-center gap-6'>
      <article class='flex w-full flex-col items-center gap-2.5 text-center'>
        <div class='flex gap-2'>
          <h1 class='text-4xl font-semibold'>Mi stack</h1>
          <SecretCodeHint client:visible position={2} />
        </div>
        <p class='max-w-2xl text-lg text-gray-600 max-sm:text-sm'>
          A lo largo de mi carrera, he desarrollado un conjunto de tecnologías que me permiten crear
          soluciones innovadoras y eficientes. Mi stack incluye lenguajes de programación,
          frameworks y herramientas para proyectos web y backend, siempre enfocado en mantenerme
          actualizado y asegurar la mejor calidad y rendimiento.
        </p>
      </article>
    </section>
    <StackFlow client:load stacks={stacksWithProjectsMin} />
  </main>
</Layout>
