---
import Layout from '@/components/layouts/base.astro';
import { DashboardLayout } from '@/components/layouts/dashboard-layout';
import { CreateProjectForm } from '@/components/organisms/form/create/project';
import { DASHBOARD_BREADCRUMB_TEMPLATE } from '@/constants/dashboard-breadcrumb';
---

<Layout title='Crear de proyecto'>
  <DashboardLayout
    client:load
    breadcrumb={DASHBOARD_BREADCRUMB_TEMPLATE['/vault/views/project/create']}
  >
    <main class='container mx-auto flex size-full flex-col gap-5 pl-7 pt-7'>
      <h1 class='text-4xl font-medium'>Crear Proyecto</h1>
      <CreateProjectForm client:load />
    </main>
  </DashboardLayout>
</Layout>
