---
import MountainLeft from '../../assets/svg/draws/MountainLeft.astro'
import MountainRight from '../../assets/svg/draws/MountainRight.astro'
import Bird1 from '../../assets/svg/draws/Bird-1.astro'
import Bird2 from '../../assets/svg/draws/Bird-2.astro'
import Bird3 from '../../assets/svg/draws/Bird-3.astro'
import Sun from '../../assets/svg/draws/Sun.astro'
---

<header id="header">
  <article>
    <h2>Páginas unicas con diseños increibles</h2>
    <h1>Jorge Peñaranda | Desarrollador web</h1>
  </article>
  <div id="mountains" class="landscape">
    <MountainLeft />
    <MountainRight />
  </div>
  <div id="birds" class="landscape">
    <Bird1 />
    <Bird2 />
    <Bird3 />
  </div>
  <div id="sun" class="landscape">
    <Sun />
  </div>
</header>
<script>
  const text: HTMLElement | null = document.querySelector('header > article')
  const sun: HTMLElement | null = document.querySelector('header > div#sun')
  const birds: HTMLElement | null = document.querySelector('header > div#birds')

  window.addEventListener('scroll', () => {
    let value = window.scrollY

    if (text?.style) text.style.marginTop = value * 0.5 + 'px'
    if (sun?.style) sun.style.marginTop = value * 0.8 + 'px'
    if (birds?.style) birds.style.marginTop = value * 0.5 + 'px'
  })

  window.addEventListener('mousemove', e => {
    let x = e.clientX / window.innerWidth
    let y = e.clientY / window.innerHeight

    if (birds?.style) birds.style.transform = 'translate(-' + x * 50 + 'px, -' + y * 50 + 'px)'
  })
</script>
<style>
  header {
    background: url('/assets/img/wave-1.svg') var(--primary);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
    > article {
      width: 60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      user-select: none;
      color: var(--dominant);
      z-index: 40;
      > h2 {
        font-size: 6rem;
        font-family: 'AlfaSlabOne';
        margin-bottom: 5rem;
      }
      > h1 {
        font-size: 2rem;
        font-family: 'ZillaSlabHighlight';
      }
    }
    > div.landscape {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    > div#sun {
      z-index: 20;
      > svg {
        position: absolute;
        top: 5%;
        right: 10%;
        animation: goUp 1.2s ease;
      }
    }
    > div#birds {
      z-index: 30;
      > svg {
        &:nth-child(1) {
          position: absolute;
          top: 23%;
          left: 21%;
        }
        &:nth-child(2) {
          position: absolute;
          bottom: 17%;
          right: 45%;
        }
        &:nth-child(3) {
          position: absolute;
          top: 20%;
          right: 35%;
        }
      }
    }
    > div#mountains {
      z-index: 50;
      > svg {
        animation: goUp 1s ease;
        animation-delay: 200ms;
        &:first-child {
          width: 40vw;
          height: fit-content;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        &:last-child {
          width: 40vw;
          height: fit-content;
          position: absolute;
          display: flex;
          justify-content: flex-end;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
  @keyframes goUp {
    0% {
      transform: translateY(40%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  /* Screen "MD" */
  @media (max-width: 768px) {
    header {
      > article h2 {
        font-size: 3rem;
      }
      > div#sun,
      div#birds {
        display: none;
      }
    }
  }
</style>
