---
import Github from "../../svg/logos/techs/Github.astro";
import Linktree from "../../svg/logos/techs/Linktree.astro";
import Linkedin from "../../svg/logos/techs/Linkedin.astro";

interface Props{
  color?: string;
}
const { color = "var(--white)" } = Astro.props;
---

<footer style={`color: ${color};`}>
  <ul>
    <li>
      <a
        href="https://github.com/jorgepeniaranda"
        aria-label="Github link"
        target="_blank"
        rel="noreferrer"
      >
        <Github />
      </a>
    </li>
    <li>
      <a
        href="https://linktr.ee/jorgepeniaranda"
        aria-label="Linktree link"
        target="_blank"
        rel="noreferrer"
      >
        <Linktree />
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/JorgePeniaranda/"
        aria-label="LinkedIn link"
        target="_blank"
        rel="noreferrer"
      >
        <Linkedin />
      </a>
    </li>
  </ul>
  <address>
    Power by{" "}
    <a href="mailto:contact@jorgepeniaranda.me"> Jorge Peñaranda</a>
  </address>
</footer>
<style>
  footer {
    width: 100%;
    height: 40vh;
    display: grid;
    place-items: center;
    background-color: var(--primary);
    padding-top: 1rem;
    > ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      font-size: 0.5rem;
      
      > li svg{
        transition: transform .3s ease;
        &:hover {
          transform: translateY(-0.75rem);
        }
      }
    }
    > address {
      font-style: unset;
      > a {
        text-decoration: underline;
        text-underline-offset: 2px;
        transition: font-size .3s ease;
        &:hover {
          font-size: 1.1rem;
        }
      }
    }
  }
</style>
