---
import { ArrowRight } from 'lucide-react';

import Logo from '@/assets/svg/logos/Logo.astro';
import { SecretCodeHint } from '@/components/atoms/secret-code-hint';
import Layout from '@/components/layouts/base.astro';
import { ProjectCardsManager } from '@/components/organisms/project-cards-manager';
import { getAllProjectMin } from '@/services/project/getAllProjectMin';

const Projects = await getAllProjectMin();
---

<Layout
  body={{
    class: 'bg-background dark:bg-background-dark',
  }}
  title='Proyectos'
>
  <main class='container mb-28 size-full space-y-10'>
    <nav class='flex h-max items-center justify-between pt-2'>
      <Logo class='aspect-square w-28' />
      <a
        class='group relative m-1 flex cursor-pointer items-center gap-1 overflow-hidden rounded-lg border-2 border-primary px-3 py-2 font-semibold text-primary shadow-sm'
        href='/stack'
      >
        <span
          class='ease absolute top-1/2 h-0 w-80 origin-center -translate-x-20 rotate-45 bg-primary transition-all duration-300 group-hover:h-64 group-hover:-translate-y-32'
        ></span>
        <span
          class='ease relative flex items-center gap-2 text-primary transition duration-300 group-hover:text-white max-sm:text-center max-sm:text-xs'
        >
          ¿Te interesa mi stack?
          <ArrowRight />
        </span>
      </a>
    </nav>
    <section class='flex flex-col items-center gap-6'>
      <article class='flex w-full flex-col items-center gap-2.5 text-center'>
        <h1 class='text-4xl font-semibold'>Mis Proyectos</h1>
        <p class='max-w-2xl text-lg text-gray-600 dark:text-gray-400 max-sm:text-sm'>
          Una colección de proyectos en los que he trabajado, tanto por mi cuenta como en
          colaboración con otros colegas. Cada uno tiene su propia historia y enfoque.
        </p>
      </article>
    </section>
    <ProjectCardsManager client:load projects={Projects} />
    <div class='fixed bottom-0 right-0'>
      <SecretCodeHint client:visible position={1} />
    </div>
  </main>
</Layout>
