---
import Layout from "../../layouts/index.astro";
import ProjectsList from "../../sections/articles/ProjectsList.astro";
---

<Layout
  title="Jorge Peñaranda | Proyectos"
  description="Explora mi selección de proyectos web, una ventana a mi creatividad y habilidades como desarrollador. Descubre aplicaciones innovadoras y soluciones únicas en cada trabajo."
>
  <main>
    <ProjectsList/>
  </main>
</Layout>
<style>
  /* Screen "MD" */
  @media (min-width: 768px) {
    main {
      padding-inline: var(--x-padding);
    }
  }
</style>
