---
import Layout from '../../components/layouts/base.astro'
import { ProjectCard } from '../../components/molecules/cards/project-card'
import { getAllProjectMin } from '../../services/project/getAllStackMin'

const Projects = await getAllProjectMin()
---

<Layout
  body={{
    class: 'bg-background dark:bg-background-dark'
  }}
  title="Proyectos"
>
  <main class="w-full h-full py-10 space-y-10 container">
    <!-- <section class="flex flex-col items-center gap-6">
      <article class="w-max flex flex-col text-center items-center">
        <h1 class="sr-only">Proyectos de Jorge Peñaranda</h1>
      </article>
    </section> -->
    <section class="flex gap-6 h-full justify-center">
      {
        Projects.map(project => (
          <ProjectCard
            projectKey={project.key}
            name={project.name}
            logoURL={project.logoUrl}
            primaryColor={project.primaryColor}
            client:load
          />
        ))
      }
    </section>
  </main>
</Layout>
