---
import Logo from "../../svg/logos/Logo.astro";

interface Props{
  color?: string;
  fixed?: boolean;
}
const { color, fixed = false } = Astro.props;
---

<nav style={`color: ${color};position:${fixed ? "absolute" : ""};`}>
  <ul>
    <li>
      <a href="/">Acerca</a>
    </li>
    <li>
      <a href="/projects">Proyectos</a>
    </li>
    <li id="logo">
      <Logo />
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/contact">Contacto</a>
    </li>
  </ul>
</nav>
<style>
  nav {
    width: 100%;
    height: var(--nav-height);
    z-index: 100;
    padding: 0 1rem;
    > ul{
      display: flex;
      justify-content: center;
      gap: 4rem;
      align-items: center;
      height: 100%;
      > li{
        font-size: 1.5rem;
        user-select: none;
        a{
          display: inline-block;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--details);
            transform-origin: bottom right;
            transition: transform 0.2s ease-out;
          }
          &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }
      > li#logo{
        width: 10rem;
        height: 10rem;
      }
    }
  }

  /* Screen "MD" */
  @media (min-width: 768px) {
    nav {
      justify-content: space-around;
    }
  }
</style>
