---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/head/BaseHead.astro";
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body class="w-screen h-screen antialiased">
    <slot />
  </body>
</html>
