---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="px-48">
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --bg-color: oklch(25.44% 0 0);
    --text-color: oklch(100% 0 99);
  }
  body {
    background-image: linear-gradient(to top, #bac8e0 0%, #6a85b6 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background: #101010;
    width: 100vw;
    height: 100vh;
  }
</style>
