---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/heads/BaseHead.astro";
import Navbar from "../components/navbars/Navbar.astro";
import Footer from "../components/footers/Footer.astro";
interface Props {
  title: string;
  description: string;
  theme: "light" | "dark";
}
const { title, description, theme } = Astro.props;
---

<!doctype html>
<html class={theme} lang="es">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
