---
import Text from "../../components/text/Text.astro";

---

<section>
    <a href="/" id="about">
        <Text>Acerca</Text>
    </a>
    <a href="/projects" id="projects">
        <Text>Proyectos</Text>
    </a>
    <a href="/blog" id="blog">
        <Text>Blog</Text>
    </a>
    <a href="/contact" id="contact">
        <Text>Contactar</Text>
    </a>
</section>
<style>
    section {
        display: grid;
        margin-top: 7rem;
        grid-template-areas:
            "about projects projects"
            "blog blog contact";
        > a {
            height: 25rem;
            padding: 1rem;
            border: 1px solid #ccc;
            position: relative;
            > p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                user-select: none;
                font-size: 3rem;
                font-weight: 600;
                color: var(--white);
                z-index: 10;
                line-break: anywhere;
            }
            &#about{
                background-color: #15803d;
                grid-area: about;
            }
            &#projects{
                background-color: #CC4700;
                grid-area: projects;
            }
            &#blog{
                background-color: #0276B1;
                grid-area: blog;
            }
            &#contact{
                background-color: #6b21a8;
                grid-area: contact;
            }
            &:hover {
                &::after{
                    content: "";
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background: rgba(39, 39, 39, 0.356);
                    animation: openCard .9s ease forwards;
                }
                &::before{
                    content: "";
                    height: 100%;
                    top: 0;
                    right: 0;
                    position: absolute;
                    background: rgba(39, 39, 39, 0.356);
                    animation: openCard .9s ease forwards;
                }
            }
        }
    }
    @keyframes openCard {
        from {
            opacity: .2;
            width: 0%;
        }
        to {
            opacity: 1;
            width: 50%;
        }
    }
    @keyframes openText {
        from {
            opacity: 0;
            transform: translate(-50%, -50%) translateY(2rem);
        }
        to {
            opacity: 1;
            transform: translate(-50%, -50%) translateY(0);
        }
    }
</style>
