---
import Layout from '@/components/layouts/base.astro';
import { DashboardLayout } from '@/components/layouts/dashboard-layout';
import { ProjectTable } from '@/components/organisms/table/project';
import { DASHBOARD_BREADCRUMB_TEMPLATE } from '@/constants/breadcrumb';
import { getAllProjects } from '@/services/project/getAllProjects';

const projects = await getAllProjects();
---

<Layout title='Proyectos'>
  <DashboardLayout client:load breadcrumb={DASHBOARD_BREADCRUMB_TEMPLATE['/vault/views/project']}>
    <main class='container mx-auto flex size-full flex-col pl-7 pt-7'>
      <h1 class='text-4xl font-medium'>Proyectos</h1>
      <ProjectTable client:load data={projects} />
    </main>
  </DashboardLayout>
</Layout>
